.app-header__logo .logo-src{max-width:190px;}


.card-header{padding-left: 10px;}
.add-new img{padding: 15px; color: var(--blue);}
.app-screen .dropdown-menu{width: auto;min-width: auto;padding: 10px;}
.app-screen .dropdown-item{padding: 5px;}
.app-screen .dropdown-menu.show{transform: translate3d(-60px, 33px, 0px) !important;}


.right-sidebar{width: 280px; position: absolute; right: 0; height: 100%; background-color: #fff;}
.app-main__outer{padding-right: 280px;}
.right-show{padding-right: 0;}

.hidden{display: none;}
.chat-box{height:95%; width: 100%;}
.chat-input{position: fixed; bottom: 0;}
.upload-wrap{position: absolute; bottom: 0; z-index: 999; width: 100%;}


@media (max-width: 767.98px)
{
    body .app-screen .card-header {display: flex;}
}

@media screen and (max-width:480px){
    .app-screen .files{max-height: auto;}
}





/* File Upload */
.image-upload{
    position: relative;
    max-width: 360px;
  margin: 0 auto;
  overflow: hidden;
}
.image-upload input {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        opacity: 0;
    }
.upload-field {
  display: block;
  background: #F4FAFE;
  padding: 12px;
  border-radius: 11px;

}

.upload-field .file-thumbnail {
  cursor: pointer;
  border: 1px dashed #BBD9EC;
  border-radius: 11px;
  text-align: center;
  padding: 20px;
}

.upload-field .file-thumbnail img {
  width: 50px;
}

.upload-field .file-thumbnail h3 {
  font-size: 12px;
  color: #000000;
  font-weight: 600;
  margin-bottom: 4px;
}

.upload-field .file-thumbnail p {
  font-size: 12px;
  color: #9ABCD1;
  margin-bottom: 0;
}

/* File Upload */